body{
    font-family: sans-serif;
    font-size: 1rem;
    margin: 1rem;
}

h1{
    font-size: 2.5rem;
    font-family: sans-serif;
}

#combat-log {
    display: flex;
    flex-direction: column-reverse;
}

.container{
    max-width: 56rem;
    margin-inline: auto;
}
.title{
    width: 40%;
    margin-inline: 2rem;
}

.player {
    color: green;
}

.enemy {
    color:red
}

.low-hp {
    color:red;
    font-weight: bold;
}